{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="category">Category</label>
        {{ form_widget(form.category,{
            'attr':{
                'class':'form-control'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="category">Product Name:</label>
        {{ form_widget(form.proname,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Product name'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="category">Price:</label>
        {{ form_widget(form.price,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Price'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="category">Quantity:</label>
        {{ form_widget(form.quantity,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Quantity'
            }
        }) }}
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        {{ form_widget(form.description,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Description'
            }
        }) }}
    </div>


    <div class="form-group">
        <label for="due_date">Image</label>
        {{ form_widget(form.image,{

        }) }}
    </div>
    <input type="submit" name="create_product" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}